*{
    font-family: Arial, sans-serif;
}

body{
    background-color:#FF6B35;
}

header{
    background-color: #FF6B35;
    border:5px solid black;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-bottom: 12px;  
    margin-left: 450px;    
    margin-right: 450px; 
}

h1{
    text-align: center;
}


#delivery_imagen {
    width: 100%;
}
#delivery_imagen img {
    height: auto;
    margin: auto;
    width: 650px;
    border-radius: 5px;
    display: block;
    opacity: 0.6;
    

}

#catalogo {
    width: 100%;
}

#catalogo img {
    width: 390px;
    
}

#caja2 {
    margin-bottom: 9px;
    text-align: center;
    background-color: #FFD131;
    border-style: solid;
    border-width: 5px;
    border-color: black;
   
   
}
#caja2 nav input {
    color: rgb(0, 0, 0);
    background-color: #0081A7;
    padding: 10px 24px;
    border: 2px solid #0081A7;
    transition-duration: 0.5s;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

#caja2 nav input:hover {
    color: black;
    background-color: white;
}
.clearfix {
    text-align: start;
}

footer{
    margin-top: 60px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    text-align: center;
    background-color: #FFD131;
}

.principal {
    display:block;
    margin:0 auto;
    width:510px;
    color: white;
}


.principal form input {
    width:380px;
    height:27px;
    background-color:#FF6B35;
    border:2px solid #0081A7;
    padding:10px;
    margin-top:5px;
    font-size:13px;
    color: black
}



form{
    margin: 30px 50px 0px;
    width: 400px;
    color: black;
    font-weight: bold;
    }

textarea {
    height:150px;
    width: 400px;
    color: #0081A7;
    resize: none;
}


#submit {
    
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    background-color: #0081A7;
    text-align: center;
    font-size: medium;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition: all 0.1s;
}

#submit:hover {
    color: black;
    background-color: white;
}



aside {
    display: inline-block;
    width: 300px;
    min-height: 400px;
    background-color: #C4A484;
    opacity: 0.6;
    float: left;
    margin: 10px;
    border:5px solid black;

   
  }